@model CarRentalsSystem.Models.ViewModel.CreateBookingsViewModel
@{
    ViewData["Title"] = "Add Booking";
}
<div class="card">
   
</div>

<form method="post">

   
    <div>
        <input type="text" name="FirstName" placeholder="Make" class="form-control" />
    </div>
    <div>
        <input type="text" name="MiddleName" placeholder=" Name" class="form-control" />
    </div>
    <div>
        <input type="text" name="Gender" placeholder="Gender" class="form-control" />
    </div>
    <div>
        <input type="text" name="LastName" placeholder="Model" class="form-control" />
    </div>
    <div>
        <input type="datetime" name="DateOfBirth" placeholder="Date Of Birth" class="form-control" />
    </div>
    <div>
        <input type="text" name="PhoneNo" placeholder="Plate No" class="form-control" />
    </div>
    <div>
        <input type="text" name="" placeholder="Email" class="form-control" />
    </div>
    <div>
        <input type="text" name="CusAddress" placeholder="Features" class="form-control" />
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

